body {
    display: flex;
    justify-content: center;
    background-color : yellow;
    border : 1px solid red;
    flex-direction: column;
}
header {
    text-align: center;
    border: 1px solid red;
}

.gridContainer {
    width: 320px;
    height: 320px;
    display : flex;
    flex-wrap:  wrap;
    align-content: stretch;
    justify-content: stretch;
    background-color: white;
    margin: auto;
}

.squareDiv {
    background-color : red;
    box-sizing : border-box;
}

.colorme {
    background-color: black;
}

footer {
    text-align:center;
    border: 1px solid red;
}